.cards {
  clear: both;
  padding: 0 0 0 15px;
}
.card {
  float: left;
  border: 1px solid black;
  border-right: 0;
  width: 50px;
  height: 100px;
  margin: 10px -8px;
  list-style: none;
  border-radius: 5px 0 0 5px;
  background-color: #fcfcfc;
  overflow: hidden;
  &:last-child{
    width: 70px;
    border: 1px solid black;
    border-radius: 5px;
    &::after {
      clear: both;
      content: ' ';
    }
    .card__content-item--reversed {
      display: block;
    }
  }

  &__content {
    position: relative;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    &--opened {
      padding: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }
    &--closed {
      background-color: #bbb;
      width: calc(100%);
      height: calc(100%);
      &::after {
        content: '🌚';
        position: absolute;
        top: 38px;
        left: 25px;
      }
    }

    &-item {
      font-size: 15px;
      font-family: 'American Typewriter',sans-serif;
      &--reversed {
        display: none;
        position: absolute;
        right: 0;
        bottom: 0;
        transform: rotate(180deg);
      }
    }
  }

  &__suit {
    &--h, &--d {
      color: red;
    }
  }

  &__rank {
  }
}
