.player {
  clear: both; }
  .player__operations-button {
    font-size: 1.5em;
    margin: 5px;
    border-radius: 5px;
    width: 100px;
    padding: 10px;
    cursor: pointer; }
    .player__operations-button--hit {
      color: white;
      background-color: blue; }
    .player__operations-button--stand {
      color: white;
      background-color: red; }
  .player__result {
    font-weight: bold;
    font-size: 3em;
    display: inline;
    padding: 10px; }
    .player__result--win {
      color: #00ff00;
      background-color: #ff00ff; }
    .player__result--lose {
      color: #ff00ff;
      background-color: #00ff00; }
    .player__result--draw {
      color: white;
      background-color: black; }
